<a href="https://colab.research.google.com/github/trucphuongbvc/Phantichdulieuhcsau/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/patient_heart_rate.csv')
df.head()

     1    Mickéy Mousé    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/patient_heart_rate.csv',names=['ID','Name','Age','Weight','m0006','m0612','m1218','f006','f0612','f1218'])
df.head(6)

    ID            Name   Age      Weight m0006 m0612 m1218 f006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71    -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -   85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -   65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72    -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -   69   NaN    75
5  6.0     Huey McDuck  52.0      189lbs     -     -     -   68    75    72

In [3]:
df[['Firstname','Lastname']] = df['Name'].str.split(expand = True)
df = df.drop('Name',axis = 1)
print(df)

      ID   Age      Weight m0006 m0612  ... f006 f0612 f1218 Firstname Lastname
0    1.0  56.0       70kgs    72    69  ...    -     -     -    Mickéy    Mousé
1    2.0  34.0   154.89lbs     -     -  ...   85    84    76    Donald     Duck
2    3.0  16.0         NaN     -     -  ...   65    69    72      Mini    Mouse
3    4.0   NaN       78kgs    78    79  ...    -     -     -   Scrooge   McDuck
4    5.0  54.0  198.658lbs     -     -  ...   69   NaN    75      Pink  Panther
5    6.0  52.0      189lbs     -     -  ...   68    75    72      Huey   McDuck
6    7.0  19.0       56kgs     -     -  ...   71    78    75     Dewey   McDuck
7    8.0  32.0       78kgs    78    76  ...    -     -     -    Scööpy      Doo
8    NaN   NaN         NaN   NaN   NaN  ...  NaN   NaN   NaN       NaN      NaN
9    NaN   NaN         NaN   NaN   NaN  ...  NaN   NaN   NaN       NaN      NaN
10   9.0  52.0      189lbs     -     -  ...   68    75    72      Huey   McDuck
11  10.0  12.0       45kgs     -     -  ...   92    95    87     Louie   McDuck
12  11.0   NaN       60kgs    78    75  ...    -     -     -     Henry      Nam
13  12.0  34.0         NaN    65    67  ...    -     -     -    Michel     Long
14  13.0   NaN         NaN     -     -  ...   68    72    70      Tana    Ricky
15  14.0   NaN         NaN   NaN   NaN  ...  NaN   NaN   NaN  UniLever     None
16  15.0  52.0      180lbs     -     -  ...   68    75    72       NaN      NaN

[17 rows x 11 columns]

In [4]:
weight = df['Weight']

for i in range (0,len(weight)):
    x = str(weight[i])
    if "lbs" in x[-3:]:
        x = x[:-3:]
        float_x = float(x)
        y = int(float_x/2.2)
        y = str(y)+"kgs"
        weight[i] = y
print(df)

df.dropna(how = "all",inplace = True)
print(df)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN
      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [5]:
df = df.drop_duplicates(subset = ['Firstname','Lastname','Age','Weight'])
print(df)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [6]:
df.Firstname.replace({r'[^\x00-\x7F]+':''},regex =True , inplace = True)
df.Lastname.replace({r'[^\x00-\x7F]+':''},regex =True , inplace = True)
print(df)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN